/* SECTION */
.consultation-wrapper {
  background: #f5f5f5;
}


/* BG BOX INSIDE CONTAINER */
.bg-box {
   box-shadow: 0 0 0 10px #f5f5f5;
}


/* BACKGROUND IMAGE */
.bg-img {
  position: absolute;
     border-radius: 20px;

  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* CARD */
.consultation-card {
  position: relative;
  z-index: 2;

  background: white;
  /* backdrop-filter: blur(3px); */
  border-radius: 30px;
}

/* BADGE */
.badge-tag {
  border: 1px solid #d9f14a;
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 12px;
}

/* TITLE */
.title {
  font-size: 36px;
  font-weight: 600;
}

/* INPUTS */
.custom-input {
  height: 55px;
  border-radius: 30px;
  border: none;
  background: #f3f3f3;
  padding: 0 25px;
}

.custom-input:focus {
  box-shadow: none;
  outline: none;
}

/* SELECT */
.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "^";
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  pointer-events: none;
}

.select-wrapper select {
  appearance: none;
  padding-right: 45px;
}

/* BUTTON */
.callback-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  background: #e6ef5a;
  border: none;
  border-radius: 50px;
  padding: 10px 14px 10px 22px;
  font-weight: 600;
}

.arrow-circle {
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NOTE */
.note {
  font-size: 14px;
}

/* VECTORS */
.vector {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: auto;
}

.vector-left {
  left: -120px;
}

.vector-right {
  right: -120px;
}

/* MOBILE */
@media (max-width: 768px) {
  .title {
    font-size: 26px;
  }

  .vector {
    display: none;
  }
}

.bg-box::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 150px;
  height: 60px;
  background: #f5f5f5;
  border-top-right-radius: 120px;
  z-index: 1;
}