.contact-title {
  font-size: 64px;
  font-weight: 300;
}

.contact-subtext {
  font-size: 14px;
  color: #666;
  max-width: 300px;
}

.linkedin-box {
  width: 40px;
  height: 40px;
  border: 1px solid #a855f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a855f7;
  font-weight: 600;
}

.contact-tabs {
  display: flex;
  gap: 30px;
  font-size: 12px;
}

.contact-tabs span {
  cursor: pointer;
  color: #999;
}

.contact-tabs .active {
  color: #7c3aed;
  text-decoration: underline;
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  background: transparent;
}

.form-input:focus {
  border-bottom: 1px solid #7c3aed;
}

textarea.form-input {
  resize: none;
  height: 80px;
}

.submit-btn {
  background-color: #a78bfa;
  color: white;
  padding: 8px 20px;
  border-radius: 0;
}

/* .arrow-btn {
  background: #999;
  color: white;
  border-radius: 0;
} */

.form-note {
  font-size: 12px;
  color: #999;
}
