.footer-section {
  position: relative;
}

.footer-logo {
  width: 200px;
}

.hero-title {
  /* font-size: 3.2rem; */
  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.hero-titles {
  margin-top: 250px;
}

.image-section {
  margin-top: 100px;
  margin-left: 100px;
}

.links-section a {
  position: relative;
}

.links-section a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: white;
  opacity: 0.6;
  margin-top: 5px;
}

.contact-box {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* Make smaller text for Marketing, Fax */
.contact-box p.fs-5 {
  color: #ccc;
  font-weight: 400;
}
.contact-table {
  width: 100%;
  border-collapse: collapse;
}

.contact-table td {
  padding: 3px 6px;
  vertical-align: top;
}

.contact-table td:first-child {
  width: 40%;
  color: #cccccc;
}

.contact-table td:last-child {
  color: #ffffff;
}

.email-link {
  color: #ffffff;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: #00aced;
}



.social-icon {
  font-size: 1.3rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 38px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-4px) scale(1.1);
}


.social-icon:hover {
  color: black;
}

/* Footer bottom */
.footer-bottom {
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

.footer-bottom a:hover {
  color: white;
}

.lang-section a {
  font-weight: 500;
}

.lang-section a:hover {
  color: #fff;
}
