.hero-section {
  position: relative;
  /* background: linear-gradient(135deg, #000000, #2a1f5c, #1a1433); */
  background: url(../assets/images/bg-about.jpeg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #cfc9e8;
  overflow: hidden;
}

/* subtle geometric overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(313deg, transparent 40%, rgba(255, 255, 255, 0.05) 40%, transparent 80%), linear-gradient(224deg, transparent 30%, rgba(255, 255, 255, 0.03) 30%, transparent 66%);
  pointer-events: none;
}

/* content */


.hero-eyebrow {
  display: block;
  font-size: 12px;
  letter-spacing: 3px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 40px;
}

/* bottom diagonal clip */
.hero-clip {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: #F6F3EC;
  clip-path: polygon(0 60%, 100% 100%, 100% 100%, 0 100%);
}

/* responsive */
@media (max-width: 768px) {
  .hero-text {
    font-size: 36px;
  }
}

.hero-outline-img {
  max-width: 100%;
  height: auto;
}