.hero-three {
   background: linear-gradient(0deg,rgba(31, 23, 64, 0) 0%, rgba(135, 206, 235, 1) 80%);
    /* background-color: rgb(227, 248, 252); */
    /* background: url(../assets/images/cloud-bg.jpg); */
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.hero-three-img {
    bottom: 0px;
    right: 0px;
}


