.hero-three {
    height: 120vh;
    background: linear-gradient(0deg, rgba(31, 23, 64, 0) 0%, rgba(135, 206, 235, 1) 80%);
    /* background-color: rgb(227, 248, 252); */
    /* background: url(../assets/images/cloud-bg.jpg); */
    background-position: bottom;
    /* background: url(../assets/images/footer-bg.png); */
    background-attachment: fixed;

    background-size: cover;
    overflow: hidden;
}

/* Background Image */
.hero-three-img {
    z-index: 1;
}

/* Gradient Overlay */
.gradient-overlay-three {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  background-color: #140347; /* SAME as next section */
}



/* Content Above Everything */
.hero-content {
    position: relative;
    /* z-index: 3; */
}