.services {
  padding: 80px 6%;
  background: #F6F3EC;
}

.service-link {
  text-decoration: none;
}

/* HEADINGS */
.services-badge {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 3px;
  opacity: 0.7;
}

.services-title {
  font-size: 48px;
  font-weight: 600;
  margin: 30px 0 60px;
}

/* CARD */
.service-card {
  background: #ffffff;
  border-radius: 28px;
  /* padding: 36px; */
  /* height: 340px; */
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
}

/* BUBBLE */
.service-card::before {
  content: "";
  position: absolute;
  width: 220%;
  height: 220%;
  top: -120%;
  right: -120%;
  background: #022E56;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.7s ease;
  z-index: 0;
}

.service-card:hover::before {
  transform: scale(1.5);
}

/* TITLE */
.service-card h3 {
  position: relative;
  padding: 20px;
  z-index: 2;
  font-size: 26px;
  font-weight: 700;
  color: #111;
  transition: 0.5s;
}

/* IMAGE */
.service-card img {
  bottom: 0;
  left: 0;
  width: 75%;
  z-index: 2;
  transition: 0.5s;
}

.service-card:hover img {
  transform: scale(1.1);
}

.service-card:hover h3 {
  color: #fff;
}

/* ARROW */
.arrow-card {
  top: -1px;
  right: -1px;
  background: #F6F3EC;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.4s;
}

.service-card:hover .arrow-btn {
  transform: rotate(45deg);
  background: #022E56;
  color: #fff;
}

/* FILTERS */
.project-filters {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  margin: 30px 0 50px;
  flex-wrap: wrap;
}

.filter-btns {
  padding: 5px 15px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btns:hover,
.filter-btns.active {
  background: #111;
  color: #fff;
  border-color: #111;
}