.services {
  padding: 80px 6%;
  background: #F6F3EC;
}



.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 32px;
}

.services-badge {
  display: inline-block;

  font-size: 12px;
  letter-spacing: 3px;
  opacity: 0.7;
}

.services-title {
  font-size: 48px;
  margin: 30px 0 60px;
}

/* CARD */
.service-card {
  position: relative;
  background: #ffffff;
  border-radius: 28px;
  padding: 36px;
  height: 340px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
}

/* BUBBLE BACKGROUND */
.service-card::before {
  content: "";
  position: absolute;
  width: 220%;
  height: 220%;
  top: -120%;
  right: -120%;
  background: #022E56;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.7s ease;
  z-index: 0;
}

.service-card:hover::before {
  transform: scale(1.5);
}

/* DEFAULT HIGHLIGHT CARD */
.service-card.highlight {
  background: #022E56;
}

.service-card.highlight::before {
  background: #ffffff;
}

/* CONTENT */
.service-card h3 {
  position: relative;
  z-index: 2;
  font-size: 26px;
  /* font-weight: 700; */
  line-height: 1.2;
  color: #111;
  transition: 0.5s;
}

/* IMAGE */
.service-card img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  z-index: 2;
  pointer-events: none;
  transition: 0.5s;

}

/* ARROW BUTTON */
.arrow-btn {
  z-index: 3;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.4s ease, background 0.4s ease;
}

.service-card:hover .arrow-btn {
  transform: rotate(45deg);
  background: #022E56;
  color: white;
}

.service-card:hover img {
  scale: 1.1;
}

.service-card:hover h3 {
  color: white;
}

.arrow-card {
  top: -1px;
  right: -1px;
  background: #F6F3EC;
  z-index: 20px;
  z-index: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}