/* Poppins Import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  scrollbar-width: none !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

* {
  /* font-family: "Poppins", sans-serif; */
}

body {
  overflow-x: hidden;
  /* This hides the horizontal scrollbar for the entire page */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "pertili", sans-serif !important; */
  /* font-family: "Magistral Cond", sans-serif !important; */
  /* font-family: "Gruppo", sans-serif !important; */
  font-family: "Titillium Web", sans-serif !important;


}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 0px;
  /* reduce side scrollbar width */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0);
}


@font-face {
  font-family: "netron";
  src: url("../assets/fonts/Netron\ 400.otf") format("truetype");
}

@font-face {
  font-family: "pertili";
  /* src: url("../assets/fonts/centurygothic_bold.ttf") format("truetype"); */
  src: url("../assets/fonts/Begum.ttf") format("truetype");
}

@font-face {
  font-family: "OptimaLTPro-Roman";
  src: url("../assets/fonts/OptimaLTPro-Roman/Web-Fonts/b6718b05abed06cc4525f3a4ab71be65.eot");
  src: url("../assets/fonts/OptimaLTPro-Roman/Web-Fonts/b6718b05abed06cc4525f3a4ab71be65.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/OptimaLTPro-Roman/Web-Fonts/b6718b05abed06cc4525f3a4ab71be65.woff")format("woff"),
    url("../assets/fonts/OptimaLTPro-Roman/Web-Fonts/b6718b05abed06cc4525f3a4ab71be65.woff2")format("woff2"),
    url("../assets/fonts/OptimaLTPro-Roman/Web-Fonts/b6718b05abed06cc4525f3a4ab71be65.ttf")format("truetype"),
    url("../assets/fonts/OptimaLTPro-Roman/Web-Fonts/b6718b05abed06cc4525f3a4ab71be65.svg#OptimaLTPro-Roman")format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ================================
   MAGISTRAL FONT FAMILY IMPORTS
   ================================ */

/* Light */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Light_Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Book (Regular) */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Book Italic */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Book_Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Medium_Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Extra Bold */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Extra_Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* Extra Bold Italic */
@font-face {
  font-family: "Magistral";
  src: url("../assets/fonts/Magistral/Magistral_Extra_Bold_Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* ================================
   Condensed Variants
   ================================ */

/* Cond Light */
@font-face {
  font-family: "Magistral Cond";
  src: url("../assets/fonts/Magistral/Magistral_Cond_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Cond Medium */
@font-face {
  font-family: "Magistral Cond";
  src: url("../assets/fonts/Magistral/Magistral_Cond_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Cond Book */
@font-face {
  font-family: "Magistral Cond";
  src: url("../assets/fonts/Magistral/Magistral_Cond_Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Cond Bold */
@font-face {
  font-family: "Magistral Cond";
  src: url("../assets/fonts/Magistral/Magistral_Cond_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Cond Extra Bold */
@font-face {
  font-family: "Magistral Cond";
  src: url("../assets/fonts/Magistral/Magistral_Cond_Extra_Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* ================================
   Extra Condensed Variants
   ================================ */

/* Extra Cond Book */
@font-face {
  font-family: "Magistral Extra Cond";
  src: url("../assets/fonts/Magistral/Magistral_Extra_Cond_Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Extra Cond Light */
@font-face {
  font-family: "Magistral Extra Cond";
  src: url("../assets/fonts/Magistral/Magistral_Extra_Cond_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Extra Cond Medium */
@font-face {
  font-family: "Magistral Extra Cond";
  src: url("../assets/fonts/Magistral/Magistral_Extra_Cond_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.magistral {
  font-family: "Magistral Cond", sans-serif !important;
}

.gruppo-font {
  font-family: "Gruppo", sans-serif;
}


/* Utility classes */
.netron-font {
  font-family: "netron", sans-serif !important;
}

.pertili-font {
  /* font-family: "OptimaLTPro-Roman", sans-serif !important; */
  /* font-family: "Magistral Cond", sans-serif !important; */
  /* font-family: "Gruppo", sans-serif !important; */
  font-family: "Titillium Web", sans-serif !important;


}

.poppins {
  font-family: "Poppins", sans-serif;
}

.navy-blue {
  /* color: #022E56 !important; */
  color: #2e4b65 !important;
}

.bg-navy {
  background: #022E56 !important;
  /* background: #2e4b65 !important; */
}


html {
  scroll-behavior: smooth;
}


.primary-btn {
  background: linear-gradient(90deg, rgba(0, 147, 208, 1) 0%, rgba(0, 95, 163, 1) 60%);
  color: #fff;
  /* font-family: "pertili", sans-serif !important; */
  border: none;
  border-radius: 20px;
  font-weight: 600;
  /* border-radius: 50px; */
  /* padding: 10px 25px; */
  transition: all 0.4s ease-in-out;
  /* box-shadow: 0 4px 10px rgba(0, 147, 208, 0.4); */
}

.btn-arrow {
  width: 22px;
  transform: rotate(315deg);
  /* 45° tilted */
  transition: transform 0.4s ease;
}

.primary-btn:hover {
  background: linear-gradient(270deg, rgba(0, 147, 208, 1) 0%, rgba(0, 95, 163, 1) 60%);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 147, 208, 0.3);
  color: #fff;
}

.primary-btn:hover .btn-arrow {
  transform: rotate(0deg);
}

.gradient-text {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  /* blue gradient example */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* for Firefox */
}

.main-content {
  transition: opacity 1s ease;
  opacity: 0;
  /* Prevent overlap with fixed header */
}

.main-content.show {
  opacity: 1;
}

/* header,
.navbar {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
} */

/* .main-content.show header,
.main-content.show .navbar {
  opacity: 1;
  transform: translateY(0);
} */

/* HEADING ANIMATION   */
.text-primary {
  /* color: #0093d0 !important; */
}

.word {
  white-space: nowrap;
  /* keep word intact */
}

@media (max-width: 768px) {
  .netron-font {
    /* font-size: 1.5rem !important; */
    text-align: center;
  }

  .mb-5.d-flex {
    flex-direction: column-reverse !important;
    text-align: center;
  }
}

/* === Intro fade animation === */
.intro-container {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
}

.intro-container.hide {
  opacity: 0;
  transform: scale(1.05);
  pointer-events: none;
}

/* === Hide main content until intro ends === */
.main-content.hidden {
  opacity: 0;
  pointer-events: none;
}

.main-content.show {
  opacity: 1;
  transition: opacity 1s ease 0.2s;
}



/* THREE BUTTON  */

.ops-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  overflow: hidden;
  font-family: inherit;
}

/* LEFT TEXT AREA */
.ops-text {
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  margin-right: 10px;
  background: #022E56;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
}

/* RIGHT ICON BOX */
.ops-icon {
  position: relative;
  z-index: 2;
  padding: 9px 10px;
  background: #111;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* OVERLAY FILL (TEXT + ICON) */
.ops-text::before,
.ops-icon::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #0779B2;
  z-index: -1;
  transition: height 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

/* HOVER → FILL UP */
.ops-btn:hover .ops-text::before,
.ops-btn:hover .ops-icon::before {
  height: 100%;
}

/* ARROW MOVE ANIMATION */
.ops-btn:hover .ops-icon {
  animation: arrow-slide 0.45s ease forwards;
}

/* KEYFRAMES */
@keyframes arrow-slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}

